*
.chess {
    border-collapse: collapse;
    margin: 20px auto;
}

.chess td {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
}

.chess tr:nth-child(odd) td:nth-child(odd),
.chess tr:nth-child(even) td:nth-child(even) {
    background-color: #000000;
}

.chess tr:nth-child(odd) td:nth-child(even),
.chess tr:nth-child(even) td:nth-child(odd) {
    background-color: #ffffff;
}