/* .caveat-<uniquifier> { */

.ryk{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.hat{text-align: right;}
/* .ryk{font-family: Snell Roundhand, cursive;} */
