*table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
        }
        th, td {
            border: 2px dotted black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #d3d3d3;
            font-weight: bold;
        }
        tr:hover {
            background-color: #90ee90; 
        }
        /* .dotted {
            border-bottom: 0px dotted black;  */
        /* } */
        .p{
            width: 100%;
            display: flex;}
